ALERTMANAGER_CONFIG_FILE=./monitoring/alertmanager/alertmanager.local.yml
DISCORD_WEBHOOK_FILE=./monitoring/alertmanager/discord-webhook-url

# App security (local)
APP_USER=admin
APP_PASSWORD=ChangeMe_LocalStrongPassword
JWT_SECRET=ChangeMe_LocalVeryLongRandomJwtSecret_AtLeast_32_Chars
JWT_EXPIRATION_SECONDS=3600
APP_SECURITY_ACTUATOR_PUBLIC=true

# Database (local)
POSTGRES_DB=companydb
POSTGRES_USER=company
POSTGRES_PASSWORD=company
DB_URL=jdbc:postgresql://postgres:5432/companydb
DB_USERNAME=company
DB_PASSWORD=company

# Kafka (local)
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# Grafana (local)
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=ChangeMe_LocalGrafanaPassword
